
*{box-sizing: border-box;
font-family:sans-serif;}
h2{
  color:gray;
  font-family:fantasy;
  font-size:50px;
}





@media (min-width:768px) {
.short-text { display: none;}
}

@media (max-width: 767px) and (min-width:0px) {
     
     .full-text { display: none; }
}


h2, h3{
text-align: center;
}
container{
	align-content: center;
}

/*desktop*/
@media (min-width:992px){
 .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      padding: 15px;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
}

/*tablet*/
@media (min-width:768px)and (max-width:991px){
 .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      padding: 15px;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
}

/*phone*/
@media (max-width:767px){
 .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      padding: 15px;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
}


#box{
	align-content: center;
	background-color: gray;
	padding:  10px;
	border: 5px solid black;
	width: 800px;
	height: 800px;
	margin: auto;
}

#subhead{
	text-align: center;
	overflow: scroll;
  margin-bottom:5px;
  color:black;
  font-family:sans-serif;
  width:100%;
}

#content{
	background-color: lightcoral;
	align-content: center;
	clear:left;
	overflow: scroll;
  width:100%;

}

p{ 
	width: 100%; 
	/*height: 50px;*/
	border: 1px solid black;
	background-color: gray;
	clear: left;
}
#part1, #part2, #part3{
  clear:left;
  margin-top:10px;
  margin-bottom:13px;
  width:100%;
  overflow:auto;
}

#p1, #p2, #p3{
  float: right;
  clear:left;
  margin-top: 0px;
  margin-bottom:13px;
  width:auto;
  text-align:center;
  color:lightcoral; 
  font-family:sans-serif;
   overflow:auto;
}

section {
    border: 1px solid black;    
    background-color:peachpuff;
    height: 250px;
    overflow: auto;
}



